<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #itemForm="ngForm" (ngSubmit) = "addItem(itemForm)"   >

                    <input type="hidden" name="_id" [(ngModel)]="itemService.selectedItem._id">

                    <div class="form-group">
                        
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Item Name" 
                            name ="name"
                            [(ngModel)] = "itemService.selectedItem.name"
                        />
                    </div>

                    <div class="form-group">
                        Price
                        <input 
                            type="number" 
                            class="form-control" 
                            placeholder="Item price"
                            name="price"
                            [(ngModel)] = "itemService.selectedItem.price"
                        />
                    </div>
                    
                    <div class="form-group">
                        Quantity
                        <input 
                            type="number" 
                            class="form-control" 
                            placeholder="Item quantity"
                            name="quantity"
                            [(ngModel)] = "itemService.selectedItem.quantity"
                        />
                    </div>

                    <div class="form-group">
                        <br>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Item size"
                            name ="size"
                            [(ngModel)] = "itemService.selectedItem.size"
                        />
                    </div>        
                    <div class="form-group">
                        <br>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Item color"
                            name ="color"
                            [(ngModel)] = "itemService.selectedItem.color"
                        />
                    </div>  

                    <div class="form-group">
                        <br>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Item shape"
                            name ="shape"
                            [(ngModel)] = "itemService.selectedItem.shape"
                        />
                    </div>  

                    <div class="form-group">
                        <br>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Space"
                            name ="space"
                            [(ngModel)] = "itemService.selectedItem.space"
                        />
                    </div>  

                    <div class="form-group">
                        <br>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Electric(yes/no)"
                            name ="electric"
                            [(ngModel)] = "itemService.selectedItem.electric"
                        />
                    </div>                
                    <button class="btn btn-secondary">
                        Save
                    </button>

                </form>
            </div>
        </div>
    </div>
    <!--Carta de busqueda-->
    <div class="col-md-2">
        <div class="card-body">
            <label for="filterById">Filter By Id</label>
            <input type="text" id="filterById" class="form-control" [(ngModel)]="filterById">
            <button class="btn btn-secondary" (click)="getItem(filterById)">Filter</button>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card-body">
            <label for="filterByPrice">Filter By Price</label>
            <input type="text" id="filterByPrice" class="form-control" [(ngModel)]="filterByPrice">
            <button class="btn btn-secondary" (click)="getItemByPrice(filterByPrice)">Filter</button>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card-body">
            <label for="filterByColor">Filter By Color</label>
            <input type="text" id="filterByColor" class="form-control" [(ngModel)]="filterByColor">
            <button class="btn btn-secondary" (click)="getItemByColor(filterByColor)">Filter</button>
        </div>
    </div>

    <br>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Shape</th>
                    <th>Space</th>
                    <th>Electric</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredItems.length ? filteredItems : itemService.items">
                    <td>{{ item._id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.color }}</td>
                    <td>{{ item.shape }}</td>
                    <td>{{ item.space }}</td>
                    <td>{{ item.electric }}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="updateItem(item)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="item._id && deleteItem(item._id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>
